name: Docker Build & Push (Reusable)

on:
  workflow_call:
    inputs:
      service_name:
        required: true
        type: string
        description: "The name of the service to build (e.g. svc-auth)"
      push:
        default: true
        type: boolean
        description: "Set to false to only build and not push to GHCR"

jobs:
  build-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      
    steps:
      - name: Checkout root platform space (sparse)
        uses: actions/checkout@v4
        with:
          repository: precisasoftware/precisa
          sparse-checkout: Dockerfile.svc
          sparse-checkout-cone-mode: false
          path: ./
          token: ${{ secrets.GH_PAT || github.token }}

      - name: Checkout service repository
        uses: actions/checkout@v4
        with:
          path: ./${{ inputs.service_name }}

      - name: Checkout precisa-go (shared library)
        uses: actions/checkout@v4
        with:
          repository: precisasoftware/precisa-go
          path: ./precisa-go
          token: ${{ secrets.GH_PAT || github.token }}

      - name: Checkout precisa-proto (schemas)
        uses: actions/checkout@v4
        with:
          repository: precisasoftware/precisa-proto
          path: ./precisa-proto
          token: ${{ secrets.GH_PAT || github.token }}
          
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ghcr.io/precisasoftware/${{ inputs.service_name }}
          tags: |
            type=sha,format=short
            type=raw,value=main,enable=${{ github.ref == 'refs/heads/main' }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.svc
          build-args: |
             SVC_DIR=${{ inputs.service_name }}
          push: ${{ inputs.push }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
